body{
background-color: black;
color: white;
}
.aa{
background-color: #36393e;
    
}
.bb{
    background-color:#ffffff;
    box-shadow: black;
    border-radius: 6px;
}
.a{
background-color: cornflowerblue;
color: cornsilk;

}